extends layout

block content
  #app
    .screen.flex.center-flex-column
      .test
        #maintext
          h1.large Hi.
          h1#intro I'm #[br] Arthur
        #subtitle
          h2 I like computer stuff.
    .screen
      .content.center
        // h1 Pick my brain
        #searchbox
          ul
            li.flex(v-for="(item, index) of filters")
              span {{ item.pretty_name }}
              span.close(@click="remove(index)") x
          input#search(
            autocomplete="off" v-model.trim="query" @keyup.enter="addFilter"
            placeholder="Search skills and languages")
        #results(v-if="query.length > 0")
          ul
            li.suggestion(v-for="suggestion of suggestions") {{ suggestion.pretty_name }}
      
block scripts
  script(src='/javascripts/index.js')
  script(async, defer, src="https://unpkg.com/axios/dist/axios.min.js", onload="app.loadTechs()")
