body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
.screen {
  height: 100vh;
  background-color: #ccc;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.center {
  display: table;
  margin: auto;
}
.content {
  width: 520px;
  max-width: 90%;
}
.center-flex-column {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
li {
  list-style: none;
}
