theme-color = #1476FB // monocrhome: #8F8F8F
grey-color = #CCC
theme-dark = #0592CF
black-color = #314155 // monochrome: #424242
white-color = #F9FAFB // monochrome: #FAFAFA
pure-white = #FFF
accent-color = #ff6200 // monocrhome: #878787
accent-dark = #666666

transparent = rgba(0,0,0,0)
