#maintext

  h1
    display: inline-block
    font-size: 3em

  h1.large
    font-size: 9em
    margin-right: 24px

#search
  padding: 12px
  font-size: 1em
  width: 100%
  border-radius: 4px
  border: none

li.suggestion:first-child
  background-color: #fff
